.header {
  position: absolute;
  padding: 10px;
  background-color: #000000c7;
  width: 100%;
  text-align: left;
}

.logo img {
  width:120px;
  height:auto;
}

.header i {
  color: #eee;
  font-size: 28px;
  font-weight: normal;
  margin-right: 10px;
  vertical-align: text-bottom;
}

.MuiIconButton-root:hover {
  background-color: #555 !important;
}

.MuiListItemIcon-root {
  min-width: 32px !important;
}