svg {
    cursor: default;
}

.layers {
    fill: none;
    fill-opacity: 0.2;
}

.layer {
    stroke: #000;
    stroke-dasharray: 5, 10;
}

.links {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.9;
    stroke-width: 1;
}

.layer-link-overlays {
    fill: none;
    stroke: #ffeb3b91;
    stroke-width: 30;
}

.layer-links {
    fill: none;
    stroke: #0069bd;
    stroke-width: 3;
    marker-start: url(#square);
    marker-end: url(#square);
}

.layer-link-marker {
    fill: #003865;
}

.layer-link-wraps {
    stroke: #ffeb3b91;
    stroke-width: 30;
    opacity: 0;
}

.link {
    stroke-dasharray: 5, 10;
}

.node-circle {
    fill: none;
    stroke-width: 3;
}

.node-highlighted .node-circle {
    fill: gold;
}

.node-selected .node-circle {
    fill: #19a2ff;
}

.node-hexagon {
    stroke: #455f6b;
    stroke-dasharray: 5, 5;
    fill: #C9ADA7;
}

.node-icon {
    font-size: 24px;
    alignment-baseline: middle;
    text-anchor: middle;
    font-family: FontAwesome;
    fill: #444;
}

.node-name {
    font-size: 22px;
    text-anchor: middle;
    stroke: #fff;
    stroke-width: 1px;
    font-weight: bold;
    font-family: sans-serif;
}

.node-exco-circle {
    fill: #48e448;
    stroke: #666;

}

.node-exco-children {
    font-size: 16px;
    fill: #fff;
    text-anchor: middle;
    font-weight: bold;
    font-family: sans-serif;
}

.context-menu {
    font-size: 16px;
}

.context-menu rect {
    fill: #fff;
    stroke: #333;
    stroke-width: 1px;
}


.context-menu-item rect {
    fill: #eee;
    stroke: none;
}

.context-menu-item text.disabled {
    fill: #888;
}
